@import url();

:root{
--branco: white;
--cor-de-fundo: #00016E;
--fundo-senha: #001E40;
--fundo-texto: #00244D;
--borda: #0075FF;
--roboto: 'Roboto', sans-serif;
--roboto-mono: 'Roboto Mono', monospace;
}
body{
    color:var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
font-family: var(--roboto-mono);
font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}